p:hover,
span:hover {
    cursor: default;
}

* {
    scroll-behavior: smooth;
}

/* Reset some default styles */
body,
h1,
h2,
p {
    margin: 0;
    text-align: center;
    padding: 0;
}



/* Global styles */
.container1 {
    max-width: 960px;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

.container {
    max-width: 960px;
    margin: 0 auto;




}

/* Header styles */
header {
    background-color: darkturquoise;
    color: #fff;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    color: #000000;
    text-decoration: none;
}

/* Hero section styles */
#hero {
    background-color: #f2f2f2;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* About section styles */
#about {
    background-color: #fff;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 20px;
}

/* Projects section styles */
#projects_type {
    background-color: #f2f2f2;

    height: fit-content;
    padding: 20px;
}

/* Contact section styles */
#contact {
    background-color: #fff;
    padding: 20px;
    height: 220px;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.projects_t_c {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 220px;
}

.topic_box {
    min-height: 75%;
    min-width: 20%;
    border: 2px solid black;
    margin: 10px;
    display: flex;

    justify-content: center;
    align-items: center;
    font-style: italic;
    color: #f2f2f2;
    background-color: grey;
    transition: all 0.15s;
}

.topic_box:hover {
    cursor: pointer;


    box-shadow: 15px 15px rgb(61, 60, 60);
    opacity: 0.8;
    background-color: wheat;
    color: black;
    font-weight: bold;
}

.container_projects {
    display: flex;
    min-height: 200px;
    width: 100%;
    justify-content: space-between;
    gap: 100px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

#projects {
    border: 2px solid black;
    display: flex;
    overflow-x: hidden;

}

#left {
    min-height: 100px;
    height: fit-content;

    width: 30%;
    opacity: 1;


}

#right {
    min-height: 100px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s;
    font-weight: bold;
    font-size: larger;


}

ul {
    list-style: inside;

}

ul li {
    margin: 40px;
    width: fit-content;
    transition: all 0.5s;
}

ul li:hover {
    cursor: pointer;

    font-weight: bold;
    font-size: larger;
}

#display_project {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;

}

.switch {
    position: relative;
    display: inline-block;
    width: 120px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    border: 2px solid white;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    font-size: 16px;
}

input:checked+.slider {
    background-color: rgb(0, 0, 0);
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(85px);
    background-color: white;
}

/*------ ADDED CSS ---------*/
.slider:after {
    content: 'Light';
    color: skyblue;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 16px;
    font-style: italic;
    font-family: cursive;
    font-family: Verdana, sans-serif;
    color: black;

}

input:checked+.slider:after {
    content: 'Dark';
    content: 'Dark';
    color: white;

}

/*--------- END --------*/

#view {
    width: 100%;
    height: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 20px;
    font-weight: bold;
    align-items: center;
    transition-timing-function: ease-in-out;
    transition: height 0.5s, opacity 0.5s;
}

#view.active {
    height: 50px;
    /* Adjust the desired height */
    opacity: 1;
}


#style {
    font-family: monospace;
    font-size: 20px;
}

.card {
    width: fit-content;
    height: fit-content;
    background-color: rgb(238, 238, 238);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055);
}

/* for all social containers*/
.socialContainer {
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
}

/* instagram*/
.containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
}


/* linkdin*/
.containerThree:hover {
    background-color: #00a8fc;
    transition-duration: .3s;
}

/* Github*/

.containerFour {
    background-color: rgb(238, 238, 238);
    ;
}

.containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
}

.socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
}

.socialSvg {
    width: 17px;
}

.socialSvg path {
    fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.contact_c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#git {
    width: -webkit-fill-available;

}

.sub {
    right: 0;
    position: fixed;
    display: flex;
    align-items: center;
}

.right a:hover,
.display_project img:hover {
    cursor: pointer;
}

.right .display_project a {
    text-decoration: none;
}



.link_name {

    color: black;
}

.logo {
    color: #000000;
}

.topic_box1:hover {
    box-shadow: 15px 10px #fdc400;
}

.card1 {
    position: relative;
    width: 1000px;
    height: 320px;
    background: mediumturquoise;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

@media only screen and (max-width: 412px) {
    .card1 {
        width: 333px;
        height: 574px;
    }

    .container1 {
        justify-content: space-around;
    }

    .sub {
        position: static;
    }

    .nav-links {
        padding: 0;
    }

    .topic_box {
        min-width: 40%;
    }

    .card1.card1:hover:after {
        font-size: 16px;
    }
}

.card1::before,
.card1::after {
    position: absolute;
    content: "";
    width: 20%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-weight: bold;
    background-color: lightblue;
    transition: all 0.5s;
}


.card1::before {
    top: 0;
    right: 0;
    border-radius: 0 15px 0 100%;
}

.card1::after {
    bottom: 0;
    left: 0;
    border-radius: 0 100% 0 15px;
    transition: all 1.5s;
    opacity: 0;
}

.card1:hover::before,
.card1:hover:after {
    width: 100%;
    height: 100%;
    border-radius: 15px;

    font-size: 20px;
    opacity: 1;
}

.card1:hover:after {
    content: "Hello there! My name is Tanay Naik, and I am a dedicated web developer. Currently enrolled as a student at Vellore Institute of Technology, I am deeply passionate about technology and thrive on the excitement of exploring new frontiers in the digital realm. As a forward-thinking individual, I constantly seek opportunities to push the boundaries of innovation and stay up-to-date with the latest trends and advancements in web development. With a keen eye for detail and a penchant for problem-solving, I find great satisfaction in crafting robust and user-friendly websites that not only meet client needs but also create engaging online experiences. Alongside my technical pursuits, I am an avid reader and enjoy immersing myself in the ever-evolving world of web development. From mastering new programming languages to staying updated with industry best practices, I am committed to honing my skills and expanding my knowledge base. As a professional web developer, I am determined to contribute my expertise to develop cutting-edge web solutions that empower businesses and drive meaningful digital transformations.";
}

.wheel-and-hamster {
    --dur: 1s;
    position: relative;
    left: 50px;
    width: 12em;
    height: 12em;
    font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
    position: absolute;
}

.wheel,
.spoke {
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wheel {
    background: radial-gradient(100% 100% at center, hsla(0, 0%, 60%, 0) 47.8%, hsl(0, 0%, 60%) 48%);
    z-index: 2;
}

.hamster {
    animation: hamster var(--dur) ease-in-out infinite;
    top: 50%;
    left: calc(50% - 3.5em);
    width: 7em;
    height: 3.75em;
    transform: rotate(4deg) translate(-0.8em, 1.85em);
    transform-origin: 50% 0;
    z-index: 1;
}

.hamster__head {
    animation: hamsterHead var(--dur) ease-in-out infinite;
    background: hsl(30, 90%, 55%);
    border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
    box-shadow: 0 -0.25em 0 hsl(30, 90%, 80%) inset,
        0.75em -1.55em 0 hsl(30, 90%, 90%) inset;
    top: 0;
    left: -2em;
    width: 2.75em;
    height: 2.5em;
    transform-origin: 100% 50%;
}

.hamster__ear {
    animation: hamsterEar var(--dur) ease-in-out infinite;
    background: hsl(0, 90%, 85%);
    border-radius: 50%;
    box-shadow: -0.25em 0 hsl(30, 90%, 55%) inset;
    top: -0.25em;
    right: -0.25em;
    width: 0.75em;
    height: 0.75em;
    transform-origin: 50% 75%;
}

.hamster__eye {
    animation: hamsterEye var(--dur) linear infinite;
    background-color: hsl(0, 0%, 0%);
    border-radius: 50%;
    top: 0.375em;
    left: 1.25em;
    width: 0.5em;
    height: 0.5em;
}

.hamster__nose {
    background: hsl(0, 90%, 75%);
    border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
    top: 0.75em;
    left: 0;
    width: 0.2em;
    height: 0.25em;
}

.hamster__body {
    animation: hamsterBody var(--dur) ease-in-out infinite;
    background: hsl(30, 90%, 90%);
    border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
    box-shadow: 0.1em 0.75em 0 hsl(30, 90%, 55%) inset,
        0.15em -0.5em 0 hsl(30, 90%, 80%) inset;
    top: 0.25em;
    left: 2em;
    width: 4.5em;
    height: 3em;
    transform-origin: 17% 50%;
    transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
    clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
    top: 2em;
    left: 0.5em;
    width: 1em;
    height: 1.5em;
    transform-origin: 50% 0;
}

.hamster__limb--fr {
    animation: hamsterFRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30, 90%, 80%) 80%, hsl(0, 90%, 75%) 80%);
    transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
    animation: hamsterFLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30, 90%, 90%) 80%, hsl(0, 90%, 85%) 80%);
    transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
    border-radius: 0.75em 0.75em 0 0;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 70% 90%, 70% 100%, 30% 100%, 40% 90%, 0% 30%);
    top: 1em;
    left: 2.8em;
    width: 1.5em;
    height: 2.5em;
    transform-origin: 50% 30%;
}

.hamster__limb--br {
    animation: hamsterBRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30, 90%, 80%) 90%, hsl(0, 90%, 75%) 90%);
    transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
    animation: hamsterBLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30, 90%, 90%) 90%, hsl(0, 90%, 85%) 90%);
    transform: rotate(-25deg);
}

.hamster__tail {
    animation: hamsterTail var(--dur) linear infinite;
    background: hsl(0, 90%, 85%);
    border-radius: 0.25em 50% 50% 0.25em;
    box-shadow: 0 -0.2em 0 hsl(0, 90%, 75%) inset;
    top: 1.5em;
    right: -0.5em;
    width: 1em;
    height: 0.5em;
    transform: rotate(30deg) translateZ(-1px);
    transform-origin: 0.25em 0.25em;
}

.spoke {
    animation: spoke var(--dur) linear infinite;
    background: radial-gradient(100% 100% at center, hsl(0, 0%, 60%) 4.8%, hsla(0, 0%, 60%, 0) 5%),
        linear-gradient(hsla(0, 0%, 55%, 0) 46.9%, hsl(0, 0%, 65%) 47% 52.9%, hsla(0, 0%, 65%, 0) 53%) 50% 50% / 99% 99% no-repeat;
}

/* Animations */
@keyframes hamster {

    from,
    to {
        transform: rotate(4deg) translate(-0.8em, 1.85em);
    }

    50% {
        transform: rotate(0) translate(-0.8em, 1.85em);
    }
}

@keyframes hamsterHead {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(0);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(8deg);
    }
}

@keyframes hamsterEye {

    from,
    90%,
    to {
        transform: scaleY(1);
    }

    95% {
        transform: scaleY(0);
    }
}

@keyframes hamsterEar {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(0);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(12deg);
    }
}

@keyframes hamsterBody {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(0);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(-2deg);
    }
}

@keyframes hamsterFRLimb {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(50deg) translateZ(-1px);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(-30deg) translateZ(-1px);
    }
}

@keyframes hamsterFLLimb {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(-30deg);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(50deg);
    }
}

@keyframes hamsterBRLimb {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(-60deg) translateZ(-1px);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(20deg) translateZ(-1px);
    }
}

@keyframes hamsterBLLimb {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(20deg);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(-60deg);
    }
}

@keyframes hamsterTail {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(30deg) translateZ(-1px);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(10deg) translateZ(-1px);
    }
}

@keyframes spoke {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-1turn);
    }
}