* {
    margin: 0;
    cursor: default;

}

html {
    overflow-x: hidden;
}

.wrapper {
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    scroll-snap-type: y mandatory;
    background-image: radial-gradient(#f9f9f9, #ddd, #888);

}



.wrapper::-webkit-scrollbar {
    width: 0em;
}

header {
    width: 100%;
    background-color: #333;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

header ul {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

header p {
    color: white
}

#lists {
    display: flex;

}

.logout {
    background-color: #ff0000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.logout:hover {
    background-color: #d60000;
}

.background,
.foreground {
    object-fit: cover;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.background {
    transform: translateZ(-20px) scale(1);
    z-index: 1;

}

.foreground {
    transform: translateZ(-50px) scale(6);
}

#header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

#data {
    font-size: 3rem;
    padding: 2rem;
    color: white;
    text-shadow: 0 0 5px #000000;
    background-color: rgba(79, 82, 81, 0.7);
    background-image: linear-gradient(to bottom, rgba(79, 82, 81, 0.9), rgba(10, 4, 193, 0.605));
    z-index: 1;
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.wrapper::-webkit-scrollbar {
    width: 0em;
}


.title {
    display: flex;
    justify-content: center;

}

.title b {
    font-family: emoji;
    font-style: italic;
}

.grid-container {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    grid-gap: 200px;
    padding: 40px;
}

.grid-item {
    height: fit-content;
    background-color: #f9f9f900;
    color: #333;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    gap: 4vh;

    overflow: hidden;
}

.product-img {
    height: 30vh;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    transition: all 0.15s;
}

.product-img:hover {
    scale: 0.8;
    cursor: pointer;
    transform: scale(0.9) rotate(-10deg);
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-size: 20px;
    color: white;
    text-shadow: 0 0 50px black;
    z-index: 1;
}

.add_to_cart {
    font-weight: bold;
    transition: all 0.15s;
    width: fit-content;
    background-color: #333;
    color: #fff;
    transition: all 0.7s;
}

.add_to_cart:hover {
    cursor: pointer;
    color: black;
    background-color: #fff;

}


.fa-cart-shopping {
    font-size: 1.5rem;
    position: relative;
}

.fa-cart-shopping:hover {
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    right: 50px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    color: #333;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;

    right: 0px;

}

.dropdown-content table {
    padding: 5px;
}

.dropdown-content tr {
    display: flex;
    justify-content: center;

}

.dropdown-content th,
.dropdown-content td {
    width: 100px;
    height: 30px;

}

.dropdown-content td {
    display: flex;
    justify-content: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content-visible {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropbtn {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

#bill {
    width: 40%;
    height: 30px;
    margin: 10px 0;
    color: #fff;
    background-color: #333;
}

#bill:hover {
    cursor: pointer;
    background-color: #555;

}

ul:hover {
    cursor: pointer;
}

.final_box {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.opacity_zero {
    opacity: 0;
}

.final_box_shadow {
    background: #000;
    z-index: 2;
    opacity: 0.8;
}

.box {
    opacity: 0;

}


.btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 35px;

    border: none;
    grid-column-start: 3;
    left: 60%;
    top: 3%;

}

.btn:hover {
    cursor: pointer;
}

.fa-xmark:hover {
    cursor: pointer;
}


.final_box_visility {
    display: grid;
    opacity: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 30vh;
    width: 40vh;
    font-style: italic;

    overflow: hidden;
    border-radius: 15px;
    background-color: #f9f9f9;
    color: #333;
}

.final_text {
    text-align: center;
    grid-column-start: 2;
    position: relative;
    font-weight: 700;
    font-size: large;
    opacity: 1;

    color: #333;
}

#lists ul:hover {
    cursor: pointer;
}



footer {
    position: absolute;
    bottom: 0;
    height: 200px;
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background-color: #ddd;
    transition: transform 0.7s ease;
    background-image: url("img/popup.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.footer {
    transform: translateX(500%);
}

.footer_show {
    transform: translate(370%, -50%);
    background-color: transparent;
}

.footer_go {
    transform: translate(-370%, 50%);
}

footer p {

    text-align: center;
    color: rgb(255 255 255);
    font-weight: bold;
    position: relative;
    font-size: 33px;
    font-style: italic;
    top: -87px;
    text-shadow: 2px 2px black;
}

footer section {
    position: absolute;
    bottom: -30px;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 0, 34);
    text-decoration: none;
}

footer section a:hover {
    cursor: pointer;
}

footer section a {
    text-decoration: none;
    color: blue;
}

footer section a:active {
    color: black;
}


@media (max-width:480px) {
    * {
        font-size: 12px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 4px;
    }

    .product-img {
        height: 10vh;
        width: auto;
        max-width: 100%;
        max-height: 100%;
        transition: all 0.15s;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 1vh;
        font-size: 10px;
        color: white;
        text-shadow: 0 0 50px black;
        z-index: 1;
    }

    header ul {
        padding: 12px;
    }

    .final_text {
        top: 0%;
    }
}
